body {
    color: #444;
}

@media (min-width: 750px) {
    div.container {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

#header {
    text-align: center;
    margin-top: 1.5rem;
}

@media (min-width: 750px) {
    #header {
        margin-bottom: 1.5rem;
    }
}

#header h1 {
    font-family: monospace, courier;
    font-size: 4rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

#header h1 a {
    color: #222;
    text-decoration: none;
}

#previously-div h5 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

#tagline-p {
    font-family: monospace, courier;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#pri-links-p {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

#pri-links-p a {
    margin-left: 5px;
    margin-right: 5px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0;
    padding: 0 0 0.3rem 0.5rem;
}

dd:before {
    content: '- ';
}

p {
    margin-bottom: 1.5rem;
    line-height: 2;
}

pre {
    /* display: inline-block; */
    border-radius: 5px;
    background: #F1F1F1;
    padding: 1.3rem 1.3rem 1.3rem 1.3rem;
    font-size: 1.3rem;
}

span.tags a {
    background-color: #EEE;
    text-align: center;
    text-decoration: none;
    margin-right: .1em;
    margin-top: .5em;
    margin-bottom: .5em;
    border-radius: 4px;
    padding: .25em;
    border: .3px solid #DDD;
}

div.footnote {
    font-size: 1.3rem;
}

div.footnote li {
    margin-bottom: 0;
}

div.footnote li p {
    margin-bottom: 0;
}

hr {
    /* border: none; */
    text-align: center;
}

div.content {
    margin-top: 1.5rem;
}

hr.section-divider {
    margin: 0;
}

div.footnote hr {
    border-top: 2px solid #E1E1E1;
    color: #BBB;
}

div.footnote hr:after {
    content: "#";
    display: inline-block;
    position: relative;
    top: -1.1rem;
    padding: 0 0.25rem;
    background: white;
}

div.footnote ol {
    list-style: outside none decimal;
}

/* real footer styles */

#footer {
    text-align: center;
    margin-bottom: 5px;
}

/* sticky footer necessities. See
http://github.com/mahmoud/skeleton_sticky_footer for more. */

html, body {
    height: 100%;
}

.table-container {
    display: table;
    height: 100%;
    width: 100%;
}

.table-block {
    display: table-row;
    height: 1px;
}

.footer-push {
    height: auto;
}

/* Uncomment this to get the same style for manual heading links as the Table of Contents autolinks

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #222;
    text-decoration: none;
}*/

.toclink {
    color: #222;
    text-decoration: none;
}

.toctitle {
    font-size: 1.8rem;
    font-weight: bold;
}

div.toc ul {
    list-style-type: decimal;
    margin: 1rem 0 1rem 2rem;
}

div.toc > ul {
    margin-left: 0.5rem;
}

div.toc li {
    margin-bottom: 0.5rem;
}

div.toc {
    /*border: 1px solid #CCC;*/
    /*padding: 0.5rem 0.7rem 0 0.7rem;*/
    padding: 0.3rem 0 0 1rem;
    display: inline-block;
    margin-bottom: 1rem;
}

/* I found Skeleton's default heading sizes too large for my liking */
h1 {font-size: 3.5rem;}
h2 {font-size: 2.5rem;}
h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #EEE;
}
h4 {font-size: 1.75rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #EEE;
}
h5 {font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 1px solid #EEE;
}
h6 {
    font-size: 1.5rem;
    text-decoration: underline;
}

ol {
    list-style-position: outside;
    margin: 0;
    padding-left: 1em;
    padding-bottom: 1rem;
}

/* Similarly, the lists are spacey and not indented enough */
li {
    display: list-item;
    padding-left: 1em;
    margin: 0 0 0.3rem 1.3rem;
    text-align: -webkit-match-parent;
}

div.metadata a.date {
    font-style: italic;
    text-decoration: none;
}

div.metadata {
    margin-bottom: 2rem;
}

div.metadata .row {
    margin-bottom: 1rem;
}

.social-media-list a {
    text-decoration: none;
    /*font-family: monospace, courier;
    font-size: 1.3rem;*/
}
/*.social-media-list a:visited { color: #1756a9; }*/
.social-media-list a:hover { color: #111; text-decoration: underline; }
.social-media-list a:hover { text-decoration: none; }
.social-media-list a:hover .username { text-decoration: underline; }

.icon > svg { display: inline-block; vertical-align: middle; }
.icon > svg path { fill: #828282; }

.social-media-list .icon { padding-left: 5px;}
/*.social-media-list li + li { padding-top: 5px; }*/

.box {
    min-height: 20px;
    /*padding: 19px;
    padding-top: 19px;*/
    padding-right: 5px;
    padding-bottom: 220px;
    padding-left: 5px;
    margin-bottom: 20px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.box img {
    float: left;
    padding-right: 20px;
}

.img-box {
    min-height: 20px;
    padding: 19px;
    padding-right: 5px;
    padding-bottom: 19px;
    padding-left: 5px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}